In [30]:
import numpy as np
import pandas as pd
import csv
import copy
from pprint import pprint

In [31]:
dataset = pd.read_csv('Train_E.csv')
#handling missing values
dataset = dataset.fillna(dataset.mean())
#kicking date...
dataset = dataset.drop(['date'], axis = 1)
#one hot encoding for categorical columns (iso_code, continent, location)

dummy_iso_code = pd.get_dummies(dataset['iso_code'], prefix = "iso_code")
dummy_continent = pd.get_dummies(dataset['continent'], prefix = "continent")
dummy_location = pd.get_dummies(dataset['location'], prefix = "location")
#print(dummy_iso_code.head())
#print(dummy_continent.head())
#print(dummy_location.head())
dataset = pd.concat([dummy_location, dataset], axis = 1)
dataset = pd.concat([dummy_continent, dataset], axis = 1)
dataset = pd.concat([dummy_iso_code, dataset], axis = 1)
dataset = dataset.drop(['iso_code', 'continent', 'location'], axis = 1)
#dataset.head()

In [32]:
def train_test_split(s_dataset):
    k=int(len(s_dataset.index)*0.8)
    training_data = s_dataset.iloc[:k].reset_index(drop=True)
    testing_data = s_dataset.iloc[k:].reset_index(drop=True)
    return training_data,testing_data

In [33]:
#random shuffle
dataset = dataset.sample(frac=1, random_state = 0).reset_index(drop=True)
training_data,testing_data=train_test_split(dataset)
training_data.head()

   iso_code_ABW  iso_code_AFG  ...  diabetes_prevalence  life_expectancy
0             0             1  ...                 9.59            64.83
1             0             0  ...                17.26            77.97
2             0             0  ...                17.26            77.97
3             0             0  ...                 3.94            61.15
4             1             0  ...                11.62            76.29

[5 rows x 35 columns]

In [34]:
train_list=list()
validation_list=list()
l=len(training_data.index)
fold=int(l/5)
for i in range(5):
  validation_list.append(dataset.iloc[i*fold:(i+1)*int(l/5)])
  train_copy=copy.deepcopy(training_data)
  train_list.append(train_copy.drop(train_copy.index[i*fold:(i+1)*int(l/5)]))

In [35]:
#print(train_list)
print('allo allo')
#print(validation_list)

allo allo

In [36]:
def summary_util(train_data):
    result = list()
    attributes = train_data.columns
    for attribute in attributes:
      if (attribute != 'life_expectancy'):
        result.append([train_data[attribute].mean(), train_data[attribute].std()])
    return result

def summary(train_data):
    result = {}
    classes = train_data['life_expectancy'].unique()
    for label in classes:
        result[label] = summary_util(train_data[train_data['life_expectancy'] == label])
    return result

#testing abv stuff...

pprint(summary(train_list[0]))

def gaussian(x, mean, stdev):
	  exponent = exp(-((x-mean)**2 / (2 * stdev**2 )))
	  return (1 / (sqrt(2 * pi) * stdev)) * exponent

#for i in range(5):
#  summary=summarise(train_list[i])    #need to implement
#  accuracy(summary,validation_list[i])#need to implement

{61.15: [[0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1083.3053435114505, 1438.9539303745821],
         [26.51145038167939, 38.78865147520377],
         [28.609942207572576, 34.08503122344025],
         [44.38931297709924, 55.1580348452146],
         [0.9389312977099237, 1.4974631121222226],
         [0.9645093877875863, 1.0485292145425833],
         [32.96098473282445, 43.782074591704884],
         [0.8066793893129776, 1.1802180389635684],
         [1.8375180825170263, 6.911907445845727],
         [1.3506412213740473, 1.6781897622080875],
         [0.02851145038167938, 0.04555999703049455],
         [0.03758860201218983, 0.06731479119107314],
         [77.87153307888043, 10.41693389013231],
         [32866268.0, 0.0],
         [23.889999999999983, 1.7831758926481755e-14],
         [16.799999999999983, 1.7831758926481755e-14],
         [2.404999999999996, 4.012145758458394e-15],
         [1.361999999999997, 2.897660825553285e-15],
         [5819.494999999996, 3.651944228143463e-12],
         [3.939999999999999, 8.915879463240876e-16]],
 64.83: [[0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [16743.88964131107, 16568.2951323771],
         [156.42526283240568, 227.60623069730644],
         [147.5563287203674, 207.83064878697957],
         [526.687136672851, 587.0844128626187],
         [5.588095238095238, 9.601506673586728],
         [5.3596363765315, 6.954473152808108],
         [505.7342780148423, 566.2435800144995],
         [5.573161719233148, 9.928415110116989],
         [4.44680545311087, 7.485865682686457],
         [14.25526777983921, 15.152702532105911],
         [0.1572132034632034, 0.2519998032580328],
         [0.14329646358977988, 0.1817593089818746],
         [50.6139285714286, 33.46956847223983],
         [38928341.0, 0.0],
         [54.421999999999954, 4.2741738624352167e-14],
         [18.599999999999937, 6.411260793652825e-14],
         [2.581000000000006, 5.78794377204769e-15],
         [1.3369999999999957, 4.22965121803485e-15],
         [1803.9870000000026, 2.5075153326286606e-12],
         [9.589999999999968, 3.2056303968264127e-14]],
 76.29: [[1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [1085.9903778040143, 2151.116075006246],
         [26.451357733175918, 43.31822960137127],
         [22.481059164626288, 32.78333951874306],
         [10.47190082644628, 30.334889592977692],
         [0.1935064935064935, 0.5118962736659486],
         [0.15278214596003478, 0.2916908098491272],
         [7517.421795966148, 11305.927293227558],
         [218.7668907910272, 371.8093293226822],
         [201.1184668404286, 292.3249280905301],
         [55.42994529712719, 66.86483968487512],
         [1.3581324281778824, 3.858431705473521],
         [1.2804017850090827, 2.178328820151599],
         [53.68973958333325, 19.939073005726666],
         [106766.0, 0.0],
         [584.8000000000014, 1.4835591160660595e-12],
         [41.1999999999999, 9.985494050444631e-14],
         [13.085000000000022, 2.1397487250952782e-14],
         [7.451999999999999, 1.7831239375793982e-15],
         [35973.781000000025, 2.191102694497565e-11],
         [11.619999999999967, 3.209623087642917e-14]],
 77.97: [[0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [32408.35539288994, 31598.823545865234],
         [385.68346845074115, 318.7559487072899],
         [369.42019654055747, 303.54386030211055],
         [192.77204775022958, 163.27847716776128],
         [1.6831746031746033, 2.245006043590853],
         [1.64883472606166, 2.031746164836047],
         [3304.799287414404, 3182.2848075606794],
         [39.793024924570354, 32.0122018505045],
         [37.94173859884687, 30.54621835245974],
         [19.612058821986103, 16.53452248499509],
         [0.17538974157155987, 0.23063716545216556],
         [0.17044307190058694, 0.20817266977908336],
         [48.69754924242427, 29.2848536030308],
         [9890400.0, 0.0],
         [112.4419999999995, 5.13148127291115e-13],
         [34.0, 0.0],
         [1.1440000000000032, 3.1180875790258725e-15],
         [0.5260000000000002, 2.227205413589909e-16],
         [67293.48299999977, 2.189432009775424e-10],
         [17.260000000000055, 5.3452929926157815e-14]],
 78.57: [[0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [1.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [0.0, 0.0],
         [4133.5, 4343.976727725832],
         [68.640625, 56.904773940716915],
         [71.89198475510425, 54.75398539825554],
         [121.6953125, 125.54226057568326],
         [1.9765625, 1.9050899238907952],
         [1.9941423151064297, 1.6144803298171175],
         [1436.3402500000002, 1509.4783306981453],
         [23.851750000000003, 19.773742009420424],
         [24.921157145960034, 18.95498077953004],
         [42.28760156250001, 43.62441654928115],
         [0.6866796875, 0.6619732127415002],
         [0.6801654539530841, 0.5632516302354386],
         [67.8226562500001, 16.078381361924723],
         [2877800.0, 0.0],
         [104.87099999999974, 2.710671719256655e-13],
         [38.0, 0.0],
         [13.188000000000034, 3.566673314811388e-14],
         [8.643000000000008, 8.91668328702847e-15],
         [11803.431000000022, 2.1913640846201168e-11],
         [10.08, 0.0]]}