In [ ]:
import numpy as np
import pandas as pd
import csv

In [ ]:
dataset = pd.read_csv('Train_E.csv')
#handling missing values
dataset = dataset.fillna(dataset.mean())

#one hot encoding for categorical columns (iso_code, continent, location)

dummy_iso_code = pd.get_dummies(dataset['iso_code'], prefix = "iso_code")
dummy_continent = pd.get_dummies(dataset['continent'], prefix = "continent")
dummy_location = pd.get_dummies(dataset['location'], prefix = "location")
#print(dummy_iso_code.head())
#print(dummy_continent.head())
#print(dummy_location.head())
dataset = pd.concat([dummy_location, dataset], axis = 1)
dataset = pd.concat([dummy_continent, dataset], axis = 1)
dataset = pd.concat([dummy_iso_code, dataset], axis = 1)
dataset = dataset.drop(['iso_code', 'continent', 'location'], axis = 1)
dataset.head()

   iso_code_ABW  iso_code_AFG  ...  diabetes_prevalence  life_expectancy
0             1             0  ...                11.62            76.29
1             1             0  ...                11.62            76.29
2             1             0  ...                11.62            76.29
3             1             0  ...                11.62            76.29
4             1             0  ...                11.62            76.29

[5 rows x 36 columns]