In [14]:
import numpy as np
import pandas as pd
import csv
import copy

In [15]:
dataset = pd.read_csv('Train_E.csv')
#handling missing values
dataset = dataset.fillna(dataset.mean())

#one hot encoding for categorical columns (iso_code, continent, location)

dummy_iso_code = pd.get_dummies(dataset['iso_code'], prefix = "iso_code")
dummy_continent = pd.get_dummies(dataset['continent'], prefix = "continent")
dummy_location = pd.get_dummies(dataset['location'], prefix = "location")
#print(dummy_iso_code.head())
#print(dummy_continent.head())
#print(dummy_location.head())
dataset = pd.concat([dummy_location, dataset], axis = 1)
dataset = pd.concat([dummy_continent, dataset], axis = 1)
dataset = pd.concat([dummy_iso_code, dataset], axis = 1)
dataset = dataset.drop(['iso_code', 'continent', 'location'], axis = 1)
dataset.head()

   iso_code_ABW  iso_code_AFG  ...  diabetes_prevalence  life_expectancy
0             1             0  ...                11.62            76.29
1             1             0  ...                11.62            76.29
2             1             0  ...                11.62            76.29
3             1             0  ...                11.62            76.29
4             1             0  ...                11.62            76.29

[5 rows x 36 columns]

In [16]:
def train_test_split(s_dataset):
    k=int(len(s_dataset.index)*0.8)
    training_data = s_dataset.iloc[:k].reset_index(drop=True)
    testing_data = s_dataset.iloc[k:].reset_index(drop=True)
    return training_data,testing_data

In [17]:
#random shuffle
dataset = dataset.sample(frac=1, random_state = 0).reset_index(drop=True)
training_data,testing_data=train_test_split(dataset)
training_data.head()

   iso_code_ABW  iso_code_AFG  ...  diabetes_prevalence  life_expectancy
0             0             1  ...                 9.59            64.83
1             0             0  ...                17.26            77.97
2             0             0  ...                17.26            77.97
3             0             0  ...                 3.94            61.15
4             1             0  ...                11.62            76.29

[5 rows x 36 columns]

In [18]:
train_list=list()
validation_list=list()
l=len(training_data.index)
fold=int(l/5)
for i in range(5):
  validation_list.append(dataset.iloc[i*fold:(i+1)*int(l/5)])
  train_copy=copy.deepcopy(training_data)
  train_list.append(train_copy.drop(train_copy.index[i*fold:(i+1)*int(l/5)]))

In [ ]:
print(train_list)
print('allo allo')
print(validation_list)

In [19]:
for i in range(5):
  summary=summarise(train_list[i])    #need to implement
  accuracy(summary,validation_list[i])#need to implement

NameError: ignored